# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# TensorFlow SavedModel folders
saved_model/
*.pb

# Temporary files
*.tmp
*.bak

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env